<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jaelle Wedistes | Custom Wedding Websites</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
          <a href="index.html"><h2 class="logo">Jaelle Wedsites</h2></a>
          <a class="nav-btn" href="#">Menu</a>
          <nav>
            <ul class="main-nav">
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="designs.html">Designs</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </header>

        <section class="about-us content">
          <h1>About Jaelle</h1>
          <p>Marraige is a beautiful thing.</p>
          <p>Jaelle Wedsites was created by the marraige of graphic and web designer to a wedding planner.</p>
          <p>Being married to a wedding planner, I am able to see the great detail and planning that goes into planning someone's wedding. The time and preparation needed to plan your own wedding can sometimes be overwhelming. This is one of the reasons I decided to build a wedding website design service. Because some people don't have the time to design a truely custom wedding website.</p>
          <h2>About me</h2>
          <img class="me" src="img/KGB4000.jpg"/>
          <p>My name is Kester Browne, a graphic and web designer living in Largo Maryland, just outside Washington DC. I am married to my beautiful wife Monica (the best wedding cordinator in the world), and have two beautiful daughters, Aniya and Amira.</p>
          <h2>My inspiration</h2>
          <p>These are three reasons why marraige has been good for me.</p>
          
        </section>

        <footer>
          <p>Jaelle Wedsites</p>
          <p>Wedding websites for every device</p>
          <p>Email: Jaelle@jaellewedsies.com</p>
        </footer>

        <script src="http//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
         
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
