

<h1>Beautiful, Custom Wedding Websites that look good on any device</h1>

<p>See on of our wedding websites at <%= link_to "Jaelle Wedsites", "http://jaellewedsites.com" %></p>

<p>Visit <%= link_to "Uniquely Designed Affairs", "http://uniquelydesignedaffairs.com" %>. The number one wedding and event planning company in the DMV.</p>



