<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jaelle Wedistes | Custom Wedding Websites</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/gridiculous.css">
        <link rel="stylesheet" href="css/main.css">


        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
          <header>
            <div class="grid">
            <a href="index.html"><h2 class="logo">Jaelle Wedsites</h2></a>
            <a class="nav-btn" href="#">Menu</a>
            <nav>
              <ul class="main-nav">
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="designs.html">Designs</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
          </header>

          <div class="slogan">
            <div class="grid">
          <div class="row">
            <div class="c6">
              <h1>Beautiful Custom Wedding Websites that work on all devices</h1>
              <div class="trial"> 
                <p>Free 14 day Trial</p>
                <p>No Credit Cards Needed</p>
                <button>Get Started Today</button>
              </div>
            </div>
            <div class="s1 c5">
              <img class="feature-img" src="img/jaelle-wedsite-phone.png"/>
            </div>
            </div>
          </div>
        </div>

        <div class="features">
        <div class="grid">
          <section class="row">
            <section class="c12 design-options">
              <h2>Features</h2>

              <div class="row">
                <div class="c3">
                 <div class="icon" data-icon="&#xe005;" aria-hidden="true">
                 </div>
                  <p>Works and looks good on any device. Mobile, tablet, or desktop.
                  </p>
                </div>
                <div class="c3">
                <div class="icon" data-icon="&#xe00b;" aria-hidden="true"></div>
                  <p>Choose your own custom domain name.</p>
                </div>
                <div class="c3">
                <div class="icon" data-icon="&#xe007;" aria-hidden="true"></div>
                  <p>You get original and professional responsive designs.</p>
                </div>
                <div class="c3">
                <div class="icon" data-icon="&#xe004;" aria-hidden="true"></div>
                  <p>Picture gallery with the pictures you want.</p>
                </div>
              </div>
              

              <div class="row">
                <div class="c3">
                <div class="icon" data-icon="&#xe002;" aria-hidden="true"></div>
                  <p>Password protect your website (Only you and your guest can login and view your wedding website) Coming soon.</p>
                </div>
                <div class="c3">
                <div class="icon" data-icon="&#xe006;" aria-hidden="true"></div>
                  <p>Link directly to your online gift registry.</p>
                </div>
                <div class="c3">
                <div class="icon" data-icon="&#xe001;" aria-hidden="true"></div>
                  <p>Get a map of your events for your guests using geolocation.</p>
                </div>
                <div class="c3">
                <div class="icon" data-icon="&#xe000;" aria-hidden="true"></div>
                  <p>Communicate directly with the web designer.</p>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>

      <div class="how">
      <div class="grid">
        <div class="row">
          <section class="c6 content">
            <h2>How it Works</h2>
            <ul>
              <li>Sign up and login at Jaelle Wedsites</li>
              <li>Choose the design style you want</li>
              <li>Fill out the infromation you want on your wedding website</li>
              <li>Choose your payment method (monthly or yearly)</li>
              <li>Submit your form</li>
              <li>Call or email us any special requests</li>
              <li>We build your own custom unique wedding website. No Templates.</li>
            </ul>
            <button class="sign-up">Sign up today</button>
          </section>
      </div>
    </div>
  </div>

      <div class="some-designs">
        <div class="grid">
          <div class="row">
            <section class="c12">
              <h2>Latest Designs</h2>
              <div class="c4 box1"></div>
              <div class="c4 box2"></div>
              <div class="c4 box3"></div>
            </section>
          </div>
            <div class="row">
              <section class="c12">
              <div class="c4 box4"></div>
              <div class="c4 box5"></div>
              <div class="c4 box6"></div>
            </section>
          </div>
          </div>
        </div>

        <div class="grid">
          <div class="row">
            <h2>Pages and Sections</h2>
            <section class="c12">
                  <div class="c4">
                    <h3>Our Story</h3>
                    <p>dgvvg4dg245x2fx2lcjkfwpocgjweijmxeoicjeiorwjgmxeowirjgceowijgmx</p>
                  </div>
                  <div class="c4">
                    <h3>Our Wedding</h3>
                  <p>dgvvg4dg245x2fx2</p>
                </div>
                  <li class="c4">Events</li>
                </div>
                  <li class="c3">Gift Registry</li>
            <div class="row">
              <section class="c12">
                <ul>
                  <li class="c3">Pictures</li>
                  <li class="c3">Contact</li>
                  <li class="c3">Bridal Party</li>
                  <li class="c3">RSVP</li>
                </ul>
              </section>
                </div>
            </section>
            </div>
          </div>

        <section class="pricing">
          <div class="grid">
           <div class="row">
            <h2>Pricing</h2>
            <div class="c6">
              <p>We want you to want love your wedding website. This is why we give you a free 14 day trial.</p>
              <p>After your 14 day trial, you can choose to have either a $25 monthly plan, or the $250 yearly plan. Both plans cover the cost of hosting your wedding website, and your handmade custom design.</p>
              </div>
            <div>
              <div class="c6">
          <div class="box7">$25/month</div>
          <div class="box8">$250/year</div>
          <div class="trial"> 
          <%= link_to "Get Started Today!", "#" %>
        </div>
          </div>
        </section>
      </div>
      </div>
    </div>

        <footer>
          <p>Jaelle Wedsites</p>
          <p>Wedding websites for every device</p>
          <p>Email: Jaelle@jaellewedsies.com</p>
        </footer>

        <script src="http//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>