<div class="container">
	<footer>
		<div class="row">
	      <div class="col-md-12">
			  <small>
			  	<div class="col-md-2">
				  	<h5>Products</h5>
				  	<ul>
				  		<li>Features</li>
				  		<li>Pricing</li>
				  		<li>FAQ</li>
				  	</ul>
			  	</div>
			  	<div class="col-md-2">
				  	<h5>Company</h5>
				  	<ul>
				  		<li>About</li>
				  		<li>Blog</li>
				  		<li>Terms of Use</li>
				  	</ul>
			  	</div>
			  	<div class="col-md-2">
				  	<h5>Contact Us</h5>
				  	<ul>
				  		<li>Contact</li>
				  		<li>Help</li>
				  	</ul>
			  	</div>
			  </small>
			</div>
		</div>
	</footer>
</div>