
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Jaelle Wedsites</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li>
              <div>
            <button type="submit" class="btn btn-link navbar-btn">Sign in</button>
            <button type="submit" class="btn btn-primary navbar-btn">Sign up for a Free 14 day Trial Today!</button>
          </div></li>
          </ul>    
        </div><!--/.navbar-collapse -->
      </div>
    </div>